

.annoyingButMustBeDone {

size: 10;

}
.responsive {
    max-width: 100%;
    height: auto;
  }
  .responsive2 {
    max-width: 50%;
    height: auto;
  }

  .masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url(https://images.unsplash.com/photo-1517673132405-a56a62b18caf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1956&q=80);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .carousel-item {
    height: 65vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  