html,
body,
header,
#intro {
    height: 100%;
}

#intro {
    background: url("https://images.unsplash.com/photo-1518152006812-edab29b069ac?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2100&q=80")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.main {

    font-family: 'Montserrat', sans-serif;

    background-color: #fffff4;



}

.navbar {
    background-color: #fffff4 !important;
   }

.jimin {

background-color: #fffff4;

}